{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block header_title %}Lista de Shinigamis{% endblock %}
{% block container %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Shikai</th>
      <th scope="col">Bankai</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for shinigami in response %}
        <tr>
          <th scope="row">{{ shinigami.first_name }}</th>
          <td>{{ shinigami.last_name }}</td>
          <td>{{ shinigami.shikai }}</td>
          <td>{{ shinigami.bankai }}</td>
          <td>
              <div>
                  <a type="button" class="btn btn-primary">Editar</a>
                  <a type="button" class="btn btn-danger">Eliminar</a>
              </div>
          </td>
        </tr>
    {% empty %}
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock container %}